.button {
  display: inline-block;
  text-decoration: none;
}

.button,
a.button,
button {
  @include font();
  background: $button-background-color;
  border: 0;
  border-radius: $small-border-radius;
  color: $message-text-color;
  cursor: pointer;
  font-size: $medium-font;
  margin: 10px 0;
  padding: 0.5em 1em;
  transition-duration: $short-transition;
  transition-property: background-color;
  text-align: center;
  width: 100%;
  line-height: 1.5em;

  &:active,
  &:hover,
  &:focus,
  &.active {
    background: $button-background-hover-color;
  }

  &:focus {
    @include focus();
  }

  &:disabled,
  &.disabled {
    background: $button-background-disabled-color;
    cursor: not-allowed;
  }

  &.warning {
    background: $awooga-red;
  }

  &.quiet {
    width: auto;
    background: #fff;
    border: 1px solid $ship-grey;
    border-radius: 2px;
    color: $dark-grey;
    font-size: $base-font;

    &:focus,
    &:active,
    &:hover,
    &.active {
      background: $lightish-grey;
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        background: inherit;

        &:focus {
            box-shadow: none;
        }
    }
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
